.App {
    padding: 30px;
    display: flex;
    flex-direction: column;

}

.App > div {
    margin-top: 20px;
    margin-right: 50px;
}
.login{
    margin-right: 0;
    position: center;
}

.active-filter {
    background-color: #d97f7f;
}

.is-done {
    opacity: 0.5;
    font-weight: 700;
    color: #7F77E0;
}

.error {
    border: 3px solid red;
    outline: none;
}
